.trailer-container {
    position: relative;
}

.trailer-container iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}