{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ serie.titulo }}</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'styles/trailer.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'iconos/FlixVerseicono.ico' %}">
</head>

<body>
    <video autoplay muted loop id="background-video">
        <source src="{% static 'detalle_serie.mp4' %}" type="video/mp4">
    </video>
    {% include 'navbar2.html' %}
    <h1>Detalles de {{ serie.titulo }}</h1>
    <div class="container">
        <div class="pelicula-card">
            <img src="{{ serie.portada.url }}" alt="{{ serie.titulo }}">
            <h5>{{ serie.titulo }}</h5>
            <p style="font-size: 0.9em;">Año: {{ serie.anio }}</p>
            <p style="font-size: 0.9em;">Creador o creadores: {{ serie.creador_creadores }}</p>
            <p style="font-size: 0.5em; color: #0bf574;">Sinopsis: {{ serie.sinopsis }}</p>
            <p style="font-size: 0.9em;">Temporadas: {{ serie.temporadas }}</p>
            <p style="font-size: 0.9em;">Número de capitulos: {{ serie.numero_capitulos }}</p>
            <p style="font-size: 0.9em;">Duración de los capítulos: {{ serie.duracion_capitulos }} minutos</p>
            <p style="font-size: 0.9em;">Categoría: {{ serie.categoria }}</p>

            <form action="{% url 'marcar_serie_favorita' serie.id %}" method="POST">
                {% csrf_token %}
                {% if request.user in serie.favorita.all %}
                <button type="submit" style="background-color: red; color: white;"> Quitar de Favoritas</button>
                {% else %}
                <button type="submit" style="background-color: rgb(7, 199, 0); color: white;">Marcar como
                    Favorita</button>
                {% endif %}
            </form>
            <form action="{% url 'marcar_serie_vista' serie.id %}" method="POST">
                {% csrf_token %}
                {% if request.user in serie.vista.all %}
                <button type="submit" style="background-color: rgb(255, 123, 0); color: white;"> Quitar de
                    Vistas</button>
                {% else %}
                <button type="submit" style="background-color: rgb(40, 5, 194); color: white;">Marcar como
                    Vista</button>
                {% endif %}
            </form>
        </div>
        <div class="trailer-container" style="width: 50%; grid-column: span 4;"">
            <h2 class="text-center">Tráiler</h2>
            {% if serie.trailer_url %}
            <iframe src="https://www.youtube.com/embed/{{ serie.trailer_url|cut:'https://www.youtube.com/watch?v=' }}"
            frameborder="0"
            allowfullscreen>
            </iframe>
            {% else %}
            <p>No hay tráiler disponible</p>
            {% endif %}
        </div>
    </div>
    <h1 class="text-center" style="font-size: 1.5em; color: #19f805;">Aquí tienes series relacionadas con {{serie.titulo}}</h1>
    <div class="container">
            {% for serie in series_relacionadas %}
            <div class="pelicula-card">
                <a href="{% url 'detalle_serie' serie.id serie.categoria.id %}" style="text-decoration:none;">
                    <img src="{{ serie.portada.url }}" alt="{{ serie.titulo }}">
                    <h5>{{ serie.titulo }}</h5>
                    <p style="font-size: 0.9em;">Año: {{ serie.anio }}</p>
                    <p style="font-size: 0.9em;">Director: {{ serie.creador_creadores }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
</body>

</html>