{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas categorizadas</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}?v=2">
    <link rel="icon" type="image/x-icon" href="{% static 'iconos/FlixVerseicono.ico' %}">
</head>

<body>
    <video autoplay muted loop id="background-video">
        <source src="{% static 'video_main.mp4' %}" type="video/mp4">
    </video>
    {% include 'navbar2.html' %}
    {% block content %}
    <div class="titulo-container">
    <h1 class="titulo">{{ categoria }}</h1>
    <p>{{ mensaje }}</p>
    </div>
   <div id="resultadoLista">
    <div class="pelicula-grid">
        {% include 'partials/peliculas_categorizadas.html' %}
   </div>
    {% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</body>
</html>
